

* {
    margin: 0;
    padding: 0;
    border: none;
}
ul, li {
    list-style: none;
}

#loutiNav {
    width: 100px;
    position: fixed;
    left: 1150px;
    top: 30%;
    display: none;

}
#loutiNav li:first-child{
    width: 100px;
    height: 40px;
    background: #a81a38;

}
#loutiNav li:first-child h1{
    font-size: 14px;
    line-height: 40px;
    float: left;
    font-weight: 500;
    background: url("/static/imgS/cont/contShopCar.png") no-repeat 2px 5px;
    padding-left: 28px;
}

.carNum{
    background: white;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top:10px;
    left:72px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: black;


}

#loutiNav li {
    width: 100px;
    height: 30px;
    border-bottom: 1px solid  #a81a38;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    background: #d22147;
    color: white;
}


#loutiNav li:hover  {
    background: #a81a38;
}

#loutiNav li .active {

    background: #a81a38;
    color: red;
}
